
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<title>Servisler</title>
<!-- choose section start -->
<div class="choose_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="choose_taital">NEDEN BİZİ SEÇMELİSİNİZ</h1>
            </div>
        </div>
        <div class="choose_section_2">
            <div class="row">
                <div class="col-sm-4">
                    <div class="icon_1"><img src="~/elif/images/icon-1.png"></div>
                    <h4 class="safety_text">GÜVENLİK & EMNİYET</h4>
                    <p class="ipsum_text">
                        Güvenlik ve emniyet bizim için en önemli öncelikler arasında yer almaktadır.
                        Filomuzdaki tüm araçlar düzenli olarak bakım ve güvenlik kontrollerinden geçirilir, bu sayede yolculuklarınızda en yüksek güvenlik standartlarını sağlıyoruz.
                        Acil durumlarda hızlı ve etkili destek sunabilmek amacıyla 7 /24 hizmet veren bir müşteri destek ekibimiz bulunmaktadır.
                        Ayrıca, tüm kiralama işlemlerimiz kapsamlı sigorta paketleri ile desteklenmektedir, bu sayede beklenmedik durumlarda bile güvende olmanızı sağlıyoruz.
                    </p>
                </div>
                <div class="col-sm-4">
                    <div class="icon_1"><img src="~/elif/images/icon-2.png"></div>
                    <h4 class="safety_text">ÇEVRİMİÇİ REZERVASYON</h4>
                    <p class="ipsum_text">
                        Çevrimiçi rezervasyon sistemimiz, araç kiralama ve paylaşım sürecini son derece kolay ve hızlı hale getirir.
                        Kullanıcı dostu arayüzümüz sayesinde istediğiniz aracı sadece birkaç tıklama ile rezerve edebilirsiniz. Rezervasyonlarınızı istediğiniz zaman, istediğiniz yerden yapabilme özgürlüğü sunarak zamanınızı ve enerjinizi daha verimli kullanmanızı sağlıyoruz. Sistemde, ihtiyaçlarınıza en uygun aracı seçerken, fiyat karşılaştırması yapma ve detaylı bilgileri inceleme imkanı da bulacaksınız.
                    </p>
                </div>
                <div class="col-sm-4">
                    <div class="icon_1"><img src="~/elif/images/icon-3.png"></div>
                    <h4 class="safety_text">MÜŞTERİ MEMNUNİYETİ</h4>
                    <p class="ipsum_text">
                        Müşterilerimizin ihtiyaçlarını anlamak, onlara en iyi hizmeti sunmak için sürekli olarak çalışıyoruz.
                        Kaliteli hizmet anlayışımız ve müşteri odaklı yaklaşımımız sayesinde, beklentileri aşmayı hedefliyoruz. Müşterilerimizle kurduğumuz güvene dayalı ilişkiler, uzun süreli iş birliklerinin temelini oluşturur. Aldığımız geri bildirimlerle hizmetlerimizi sürekli olarak geliştiriyor ve her zaman daha iyisini sunmak için çabalıyoruz.
                        Bizimle çalışmanın, güven ve memnuniyet getireceğinden emin olabilirsiniz.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- choose section end -->