
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<title>Kayıt Ol</title>
<!-- contact section start -->
<div class="contact_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="contact_taital">Kayıt Ol</h1>
            </div>
        </div>
    </div>
    <form action="/submit" method="post"
        <div class="container">
            <div class="contact_section_2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mail_section_1">
                            <input type="text" class="mail_text" placeholder="Ad" name="Name" required>
                            <input type="text" class="mail_text" placeholder="Soyad" name="Name" required>
                            <input type="email" class="mail_text" placeholder="E-posta" name="Name" requred>
                            <input type="password" class="mail_text" id="password" placeholder="Şifre" name="password" required>
                            <input type="password" class="mail_text" id="password" placeholder="Şifre" name="password" required>
                            <input type="tel" class="mail_text" id="" placeholder="Telefon" name="tel" required>
                        </div>
                        <div class="send_bt">
                            <button type="submit" class="send_button" formmethod="post">Kayıt Ol </button>
                            <button type="reset" class="send_button"> Temizle </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
   
    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/plugin.js"></script>
    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
