
@{
     Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@model AracCepte.WebUI.Areas.Users.Models.RegisterViewModel
<title>Kayıt Ol</title>
<!-- contact section start -->
<div class="contact_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="contact_taital">Kayıt Ol</h1>
            </div>
        </div>
    </div>
    <form action="@Url.Action("Register","UserRegister")" method="post">
        <div class="container">
            <div class="contact_section_2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mail_section_1">
                            <input type="text" class="mail_text" placeholder="Ad" name="Name" >
                            <input type="text" class="mail_text" placeholder="Soyad" name="Surname" >
                            <input type="email" class="mail_text" placeholder="E-posta" name="Email">
                            <input type="password" class="mail_text" id="password" placeholder="Şifre" name="Password" >
                            <input type="password" class="mail_text" id="confirmPassword" placeholder="Şifre Tekrari" name="confirmPassword" >
                            <input type="tel" class="mail_text" id="" placeholder="Telefon" name="PhoneNumber" >
                        </div>
                        <div class="send_bt">
                            <button type="submit" class="send_button" >Kayıt Ol </button>
                            <button type="reset" class="send_button"> Temizle </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
   
    <!-- Javascript files-->
    <script src="~/elif/js/jquery.min.js"></script>
    <script src="~/elif/js/popper.min.js"></script>
    <script src="~/elif/js/bootstrap.bundle.min.js"></script>w
    <script src="~/elif/js/jquery-3.0.0.min.js"></script>
    <script src="~/elif/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="~/elif/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/elif/js/custom.js"></script>
    <script>
        const registerUser = async () => {
            const formData = {
                Name: document.querySelector('inmut[name="Name"]').value,
                Surname: document.querySelector('input[name = "Surname"]').value,
                Email: document.querySelector('input[name = "Email"]'), value,
                Password: document.querySelector('input[name = "Password"]').value,
                PhoneNumber: document.querySelector('input[name = "PhoneNumber"]').value,
            };
        
            const response = await fetch('https://localhost:7133/api/Users/register', {
                method: 'POST',
                headers: {
                     'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData),
             });
             if (response.ok) {
                 const data = await response.json();
                console.log('Kullanici kaydi basarili:', data);
            }
             else {
                   console.log('Kayit basarisiz:', await response.text());
             }
        };
        document.querySelector('form').addEventListener('submit', (event) => {
            evemt.preventDefault();
            registerUser();
        });

    </script>