
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<title>Araç Ekle</title>

<!-- Form Section -->
<div class="contact_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="contact_taital">Araç Ekle</h1>
            </div>
            <form action="/submit" method="post" enctype="multipart/form-data">
                <div class="contact_section_2">
                    <div class="col-md-12">
                        <div class="mail_section_1">
                            <input type="text" class="mail_text" placeholder="Araç Adı" name="car_name" required>
                            <input type="text" class="mail_text" placeholder="Model" name="car_model" required>
                            <input type="date" class="mail_text" name="car_year" required>
                            <!-- Belge Yükleme -->
                            <label for="file-upload-1" class="mail_text" id="file-upload-label-1">Sürücü Belgesi (PDF)</label>
                            <input id="file-upload-1" type="file" name="driver_license" accept=".pdf" style="display: none;" onchange="updateFileName('1')">

                            <label for="file-upload-2" class="mail_text" id="file-upload-label-2">Ruhsat Belgesi (PDF)</label>
                            <input id="file-upload-2" type="file" name="registration_license" accept=".pdf" style="display: none;" onchange="updateFileName('2')">

                            <label for="file-upload-3" class="mail_text" id="file-upload-label-3">Kimlik Belgesi (PDF)</label>
                            <input id="file-upload-3" type="file" name="identity_card" accept=".pdf" style="display: none;" onchange="updateFileName('3')">

                            <!-- Araç Fotoğrafları -->
                            <label for="car-images" class="mail_text" id="car-images-label">Araç Fotoğrafları Seç (JPG, PNG, JPEG)</label>
                            <input type="file" id="car-images" name="car_images[]" accept=".jpg, .jpeg, .png" style="display: none;" multiple onchange="updateFileNames()">
                            <span id="car-images-file-names"></span>

                            <input type="number" class="mail_text" placeholder="Fiyat ₺" name="price" min="0" step="1000.0" required>
                        </div>

                        <div class="send_bt">
                            <button type="submit" class="send_button">Kaydet</button>
                            <button type="reset" class="send_button">Temizle</button>
                        </div>
                    </div>
                </div>
        </div>
        </form>
    </div>
</div>